<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meetthebabyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".okhttp.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TranslucentStatusTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.dynamic.PersonagerDynamicActivity"></activity>
        <activity android:name=".activity.dynamic.MoreActivity" />
        <activity android:name=".activity.dynamic.PersonageActivity" />
        <activity android:name=".activity.dynamic.ParticularsActivity" />
        <activity android:name=".activity.PayHomeFragmnetActivity" />
        <activity android:name=".activity.ContainerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.equipment.BindingActivity" />
        <activity android:name=".activity.equipment.SoundNetworkingActivity" />
        <activity android:name=".activity.equipment.NetworkSettingsActivity" />
        <activity android:name=".activity.equipment.OpenActivity" />
        <activity
            android:name=".activity.logingforregister.OverseasActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.logingforregister.RegisterActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.logingforregister.LoginActivity" />
        <activity
            android:name=".activity.equipment.NetworKingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
    </application>

</manifest>